In [24]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [25]:
df = pd.read_csv('home_prices.csv')

In [26]:
df.head()

  locality  area_sqr_ft  price_lakhs  bedrooms
0   Kollur          656         39.0         2
1   Kollur         1260         83.2         2
2   Kollur         1057         86.6         3
3   Kollur         1259         59.0         2
4   Kollur         1800        140.0         3

In [27]:
df = pd.get_dummies(df, columns=['locality'], drop_first=True)

In [28]:
df.head()

   area_sqr_ft  price_lakhs  bedrooms  locality_Kollur  locality_Mankhal
0          656         39.0         2             True             False
1         1260         83.2         2             True             False
2         1057         86.6         3             True             False
3         1259         59.0         2             True             False
4         1800        140.0         3             True             False